<!DOCTYPE HTML>
<html>
  <head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <title>Project Dugong</title>
    <link rel="icon" type="image/jpg" href="https://ssl.bigstockimages.com/9/0/3/small2/30989132.jpg">
  </head>
  <body>
    <div id="header">
      {% if user.is_authenticated %}
      <div id="left-header">
        <a class = "headerlinks" href="/logout/">Logout</a>
        <a class = "headerlinks" href="/m/{{ user.username }}">Profile</a>
        <a class = "headerlinks" href="/">Settings</a><br>
        <a class = "headerlinks" href="/m/">Member Hub</a>
        <a class = "headerlinks" href="/clans/">Clan Hub</a>
        <a class = "headerlinks" href="/">Messages</a>
      </div>
        {% else %}
        <div id="left-header">
        <form action="/" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit" />
         </form>
      </div>
     {% endif %}
      <div id="right-header">
        <h1>Project Dugong</h1>
      </div>
    </div>
    <div id ="sitebody">
    <div class="halfelement" id = "intro">
    <p>Project Dugong is a temporary name until we can manage to come up with a
    good name for the site. It has been chosen at random so that we may create
    the genderal look of the site without having a name.</p>
   </div>
   <div class="halfelement" id = "links">
    <h4>Current Links</h4>
    <a href="/">Hompage</a><br>
    <a href="/admin">Admin Panel</a><br>
    <a href="/m/TestUser">User Example</a><br>
    <a href="/clans/TestClan">Clan Example</a><br>
    <a href="/join">Join the Site!</a><br>
  </div>
  <div class = "halfelement" id = "login" >
  {% if user.is_authenticated %}
    <p>User is logged in!</p>
    <a href="/logout/">Logout</a><br />
  {% else %}
  <form action="/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>
  <form action="/join/">
    <input type="submit" value="No account? Register!">
  </form>
  {% endif %}
  </div>
    </div>
  </body>
</html>
